@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme {
  --font-sans: var(--font-geist-sans), ui-sans-serif, system-ui, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

:root {
  --background: oklch(1 0 0);
  --foreground: oklch(0 0 0);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0 0 0);
  --primary: oklch(0.6399 0.2135 143.0893);
  --primary-foreground: oklch(1 0 0);
  --secondary: oklch(0.9551 0 0);
  --secondary-foreground: oklch(0 0 0);
  --muted: oklch(0.9702 0 0);
  --muted-foreground: oklch(0.5555 0 0);
  --accent: oklch(0.9249 0 0);
  --accent-foreground: oklch(0 0 0);
  --destructive: oklch(0.6368 0.2078 25.3313);
  --destructive-foreground: oklch(1 0 0);
  --border: oklch(0.9067 0 0);
  --input: oklch(0.9791 0 0);
  --ring: oklch(0.6399 0.2135 143.0893);
  --chart-1: oklch(0.6399 0.2135 143.0893);
  --chart-2: oklch(0.7774 0.1751 145.1852);
  --chart-3: oklch(0.868 0.1558 144.0882);
  --chart-4: oklch(0.9489 0.0556 156.34);
  --chart-5: oklch(0.9049 0.0895 164.1501);
  --sidebar: oklch(0.6399 0.2135 143.0893);
  --sidebar-foreground: oklch(1 0 0);
  --sidebar-primary: oklch(1 0 0);
  --sidebar-primary-foreground: oklch(0.6399 0.2135 143.0893);
  --sidebar-accent: oklch(0.5493 0.1831 143.1291);
  --sidebar-accent-foreground: oklch(1 0 0);
  --sidebar-border: oklch(0.5493 0.1831 143.1291);
  --sidebar-ring: oklch(1 0 0);
  --font-sans: "Google Sans", sans-serif;
  --font-serif: Georgia, serif;
  --font-mono: "Roboto Mono", monospace;
  --radius: 0.5rem;
  --shadow-x: 0px;
  --shadow-y: 4px;
  --shadow-blur: 10px;
  --shadow-spread: -2px;
  --shadow-opacity: 0.08;
  --shadow-color: #000000;
  --shadow-2xs: 0px 4px 10px -2px hsl(0 0% 0% / 0.04);
  --shadow-xs: 0px 4px 10px -2px hsl(0 0% 0% / 0.04);
  --shadow-sm: 0px 4px 10px -2px hsl(0 0% 0% / 0.08),
    0px 1px 2px -3px hsl(0 0% 0% / 0.08);
  --shadow: 0px 4px 10px -2px hsl(0 0% 0% / 0.08),
    0px 1px 2px -3px hsl(0 0% 0% / 0.08);
  --shadow-md: 0px 4px 10px -2px hsl(0 0% 0% / 0.08),
    0px 2px 4px -3px hsl(0 0% 0% / 0.08);
  --shadow-lg: 0px 4px 10px -2px hsl(0 0% 0% / 0.08),
    0px 4px 6px -3px hsl(0 0% 0% / 0.08);
  --shadow-xl: 0px 4px 10px -2px hsl(0 0% 0% / 0.08),
    0px 8px 10px -3px hsl(0 0% 0% / 0.08);
  --shadow-2xl: 0px 4px 10px -2px hsl(0 0% 0% / 0.2);
  --tracking-normal: 0em;
  --spacing: 0.25rem;
}

.dark {
  --background: oklch(0 0 0);
  --foreground: oklch(1 0 0);
  --card: oklch(0.2178 0 0);
  --card-foreground: oklch(1 0 0);
  --popover: oklch(0.2178 0 0);
  --popover-foreground: oklch(1 0 0);
  --primary: oklch(0.6399 0.2135 143.0893);
  --primary-foreground: oklch(1 0 0);
  --secondary: oklch(0.2931 0 0);
  --secondary-foreground: oklch(1 0 0);
  --muted: oklch(0.252 0 0);
  --muted-foreground: oklch(0.7668 0 0);
  --accent: oklch(0.3211 0 0);
  --accent-foreground: oklch(1 0 0);
  --destructive: oklch(0.5771 0.2152 27.325);
  --destructive-foreground: oklch(1 0 0);
  --border: oklch(0.3211 0 0);
  --input: oklch(0.2393 0 0);
  --ring: oklch(0.6399 0.2135 143.0893);
  --chart-1: oklch(0.6399 0.2135 143.0893);
  --chart-2: oklch(0.7774 0.1751 145.1852);
  --chart-3: oklch(0.868 0.1558 144.0882);
  --chart-4: oklch(0.9489 0.0556 156.34);
  --chart-5: oklch(0.9049 0.0895 164.1501);
  --sidebar: oklch(0.6399 0.2135 143.0893);
  --sidebar-foreground: oklch(1 0 0);
  --sidebar-primary: oklch(1 0 0);
  --sidebar-primary-foreground: oklch(0.6399 0.2135 143.0893);
  --sidebar-accent: oklch(0.5493 0.1831 143.1291);
  --sidebar-accent-foreground: oklch(1 0 0);
  --sidebar-border: oklch(0.5493 0.1831 143.1291);
  --sidebar-ring: oklch(1 0 0);
  --font-sans: "Google Sans", sans-serif;
  --font-serif: Georgia, serif;
  --font-mono: "Roboto Mono", monospace;
  --radius: 0.5rem;
  --shadow-x: 0px;
  --shadow-y: 6px;
  --shadow-blur: 12px;
  --shadow-spread: -2px;
  --shadow-opacity: 0.25;
  --shadow-color: #000000;
  --shadow-2xs: 0px 6px 12px -2px hsl(0 0% 0% / 0.13);
  --shadow-xs: 0px 6px 12px -2px hsl(0 0% 0% / 0.13);
  --shadow-sm: 0px 6px 12px -2px hsl(0 0% 0% / 0.25),
    0px 1px 2px -3px hsl(0 0% 0% / 0.25);
  --shadow: 0px 6px 12px -2px hsl(0 0% 0% / 0.25),
    0px 1px 2px -3px hsl(0 0% 0% / 0.25);
  --shadow-md: 0px 6px 12px -2px hsl(0 0% 0% / 0.25),
    0px 2px 4px -3px hsl(0 0% 0% / 0.25);
  --shadow-lg: 0px 6px 12px -2px hsl(0 0% 0% / 0.25),
    0px 4px 6px -3px hsl(0 0% 0% / 0.25);
  --shadow-xl: 0px 6px 12px -2px hsl(0 0% 0% / 0.25),
    0px 8px 10px -3px hsl(0 0% 0% / 0.25);
  --shadow-2xl: 0px 6px 12px -2px hsl(0 0% 0% / 0.63);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);

  --font-sans: var(--font-sans);
  --font-mono: var(--font-mono);
  --font-serif: var(--font-serif);

  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);

  --shadow-2xs: var(--shadow-2xs);
  --shadow-xs: var(--shadow-xs);
  --shadow-sm: var(--shadow-sm);
  --shadow: var(--shadow);
  --shadow-md: var(--shadow-md);
  --shadow-lg: var(--shadow-lg);
  --shadow-xl: var(--shadow-xl);
  --shadow-2xl: var(--shadow-2xl);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}
